.set-game-on-tv {
    display: flex;
    align-items: center;
}

#game-canvas {
    margin: 170px 0px 45px 25px;
    position: relative;
    width: 256px;
    height: 240px;
    zoom: 300%;
    z-index: -2;
}

.tv {
    background-image: url(../Assets/bg-splash/cartoon-tv.png);
    position: absolute;
    width: 1161px;
    height: 1264px;
    z-index: -1;
}

.begin { 
    background-image: url(../Assets/tileset/start_restart_splash/beginSplash.jpg);
}

.end {
    background-image: url(../Assets/tileset/start_restart_splash/endSplash.jpg);
}

.win {
    background-image: url(../Assets/tileset/start_restart_splash/win_screen.png);
}