.set-game-on-tv{
    display: flex;
    align-items: center;
    width: 100%;
}

#game-canvas {
    margin: 170px 0px 45px 20px;
    position: relative;
    width: 256px;
    height: 240px;
    zoom: 300%;
}

.tv {
    background-image: url(../Assets/bg-splash/cartoon-tv.png);
    position: absolute;
    width: 1100px;
    height: 1260px;
}

.begin { 
    background-image: url(../Assets/tileset/start_restart_splash/beginSplash.jpg);
}

.end {
    background-image: url(../Assets/tileset/start_restart_splash/endSplash.jpg);
}

.win {
    background-image: url(../Assets/tileset/start_restart_splash/win_screen.png);
}