canvas {
    border: 1px solid black;
    margin: 0 0;
    position: absolute;
    width: 256px;
    height: 240px;
    zoom: 300%;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -45%)
}

.begin { 
    background-image: url(../Assets/tileset/start_restart_splash/beginSplash.jpg);
}

.end {
    background-image: url(../Assets/tileset/start_restart_splash/endSplash.jpg);
}

.win {
    background-image: url(../Assets/tileset/start_restart_splash/win_screen.png);
}