.title-background {
    border: 35px solid green;
    padding: 40px;

    .title-text{
        font-family: 'Press Start 2P', cursive;
    }

    .main-title{
        font-family: 'Suez One', serif;
        font-size: 20vh;
    }

    .sword-underline{
        // background-image: ;
    }
}