.body {
    background-image: url(../Assets/bg-splash/blue-orange-spec-tri.png);
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.canvas-instructions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#instructions-bg{
    background-color: black;
    border-radius: 10px;
    max-width: 20%;
    min-width: 5%;
    padding: 50px 15px 50px 15px;
    margin-left: 1%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
}

#instructions {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 1.25vw;
    font-weight: 900;
    max-width: 550px;
    padding: 10px;
}

.hidden {
    visibility: collapse;
}

.nes-scale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.console-scale {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.nes-spacer {
    width: 40%;
    height: 100%;
}

.controller-spacer {
    width: 11%;
    height: 100%;
}

.nes-system{
    background-image: url(../Assets/bg-splash/nes.png);
    width: 523px;
    height: 355px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -60px;
}

.controllers {
    margin-top: -8vh;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.p1-controller {
    background-image: url(../Assets/bg-splash/p1-nes-controller.png);
    width: 525px;
    height: 420px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.p2-controller {
    background-image: url(../Assets/bg-splash/p2-nes-controller.png);
    width: 560px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}