body {
    background-image: url(../Assets/simple-tri-background.png);
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

